@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #ffcc00;
}

.dark {
  --background-color: #121212;
  --text-color: #ffffff;
  --primary-color: #ff9800;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
